.spe-banner-prod-block__img-block_image {
    border-radius: 8px;
}
.spe-banner-prod-block {
    margin-top: 50px;
}
.spe-banner-prod-block__img-block, .spe-banner-prod-block__item-block, .spe-banner-prod-block__title-block {
    padding: 0 30px;
}
.spe-banner-prod-block__title-block {
    padding-bottom: 15px;
}

/**/

.spe-banner-prod-panel {
    border-radius: 8px;
    border: none;
    box-shadow: 0 16px 32px rgb(0 15 30 / 8%);
    height: 100%;
    position: relative;
}
.spe-banner-prod-panel__heading {
    background-color: #ffffff !important;
    border: none;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    padding: 25px 15px;
}
.spe-banner-prod-panel__heading_text {
    font-size: 22px;
    font-weight: bold;
}
.spe-banner-prod-panel__body__advant>ul {
    color: #000000;
    font-size: 14px;
}
.spe-banner-prod-panel__body__advant>ul>li {
    line-height: 2em;
}
.spe-banner-prod-panel__body__price {
    padding: 25px 15px;
}
.spe-banner-prod-panel__body__price .price {
    color: #444444;
    font-size: 25px;
    font-weight: bold;
}
.spe-banner-prod-panel__body__price .price-old {
    color: #444444;
    font-size: 20px;
    font-weight: 400;
    text-decoration: line-through;
}
.spe-banner-prod-panel__body__btn-block_btn {
    padding: 15px 58px;
    background-color: #1272af;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    transition: background-color .4s;
}
.spe-banner-prod-panel__body__btn-block_btn:hover {
    background-color: #000000;
}

.spe-banner-prod-panel__footer {
    background-color: #1272af;
    border: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    transition: background-color .4s;
}
.spe-banner-prod-panel__footer:hover {
    background-color: #000000;
}
.spe-banner-prod-panel__footer_link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: block;
    padding: 15px 0;

}
.spe-banner-prod-panel__footer_link:hover {
    color: #ffffff;
}





