.spe-banner-sw__block {
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
    margin: 50px 15px 15px 15px;

}
.spe-banner-sw__block_title {
    display: block;
    margin: 30px 0 30px 0;
    color: #ffffff;
    font-size: 86px;
}
.spe-banner-sw__block_btn {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 10px 15px;
    color: #ffffff;
    background: transparent;
    font-size: 16px;
    font-weight: bolder;
}
.spe-banner-sw__block_btn:hover {
    background: #ffffff;
    color: #222222;
    font-weight: bolder;
    transition: background .6s;
    transition-property: background;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-delay: 0s
}
.spe-banner-sw__block_descrip {
    display: block;
    margin: 30px 0 40px 0;
    font-size: 14px;
}