.spe-banner-color-block {
    padding: 50px 0;
}
.spe-banner-color-block__block-title {
    padding-bottom: 20px;
}
.panel-body {position: relative}



.spe-banner-color-panel {
    max-width: 260px;
}
.spe-banner-color-panel:hover .spe-banner-color-panel__body {
    opacity: 0.8;
}

.spe-banner-color-panel__body {
    min-height: 300px;
    color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: opacity .4s;
}

.spe-banner-color-panel__body_cap {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    line-height: 1.1em;
}
.spe-banner-color-panel__body_text {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
}

.spe-banner-color-panel__footer {
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    padding: 15px 0;
    letter-spacing: 3px;
}
.spe-banner-color-panel__footer_caption {
    color: #ffffff;
    width: 100%;
    height: 100%;
}
.spe-banner-color-panel__footer_caption:hover {
    color: #ffffff;
}

.spe-banner-color-panel-vertical-top {
    position: absolute;
    top: 8%;
    left: 8%;
}
.spe-banner-color-panel-vertical-end {
    position: absolute;
    bottom: 8%;
    left: 8%;
}