.spe-banner-color-block {
    padding: 50px 0;
}
.panel-body {position: relative}



.spe-banner-color-panel {
    max-width: 260px;
}

.spe-banner-color-panel__body {
    min-height: 300px;
    color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.spe-banner-color-panel__body_cap {
    width: 100%;
}
.spe-banner-color-panel__body_text {
    width: 100%;
}

.spe-banner-color-panel__footer {
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    padding: 15px 0;
}
.spe-banner-color-panel-vertical-top {
    position: absolute;
    top: 8%;
    left: 8%;
}
.spe-banner-color-panel-vertical-end {
    position: absolute;
    bottom: 8%;
    left: 8%;
}