.spe-blog-latest__heading-block {
    padding: 25px 30px;
}
.spe-blog-latest__nav {
    margin-bottom: 9px;
    white-space: nowrap;
    padding: 0 15px 20px 15px;
}
.spe-blog-latest__article .product-thumb>.caption>h4 {
    min-height: 40px;
    margin-top: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #000000;
}
.spe-blog-latest__article .product-thumb>.caption>p {
    min-height: 80px;
    color: #444444;
    font-weight: bold;
}