body {
    font-family: Roboto;
    color: #000000;
    background: #f8f8f8;
}

/*Настройки темы для общих элементов всего сайта*/

/*Настройка вкладок табов*/
.nav-pills>li, .nav-tabs>li {
    min-width: 240px;
    display: inline-block;
    overflow: hidden;
    padding-right: 15px;
    padding-bottom: 15px;
}
.nav-pills>li>a, .nav-tabs>li>a {
    display: block;
    padding: 19px 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .2em;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #ddd;
    background: #eaeaea;
    color: rgba(34,34,34,.66);
    text-align: center;
    position: relative;
    overflow: hidden;
    -webkit-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover {
    background: #fff !important;
    color: #222 !important;
}

.nav-pills>li>a:before, .nav-tabs>li>a:before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    width: 0;
    height: 3px;
    background: #0070bc;
    -webkit-transition: width .4s;
    -o-transition: width .4s;
    transition: width .4s;
}
.nav-pills>li.active>a:before, .nav-pills>li>a:hover:before, .nav-tabs>li.active>a:before, .nav-tabs>li>a:hover:before {
    width: calc(100% + 2px);
}

/*Настройка блоков миниатюр товаров*/
.product-thumb {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 16px 32px rgb(0 15 30 / 8%);

}
.product-thumb .image {
    transition: opacity .4s;
}

.product-thumb:hover .image {
    opacity: 0.8;
}
.product-thumb>.caption>h5 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}
.product-thumb>.caption>h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4em;
    min-height: 70px;
}
.product-thumb .price {
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
}
.product-thumb .price-old {
    font-weight: normal;
    font-size: 18px;
}

/**/
.row_spe_top_menu {
    background-color: #222;
    color: white;
    padding: 10px 0px;
}

/*Настройка верхнего блока Header*/
.header-block {
    background: #222222;
    padding-top: 20px;
}

.header-block-fixed {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}




/*Настройка верхнего логотипа*/
.header-logo {
    margin: 0px;
}

/*Настройка блока поиска*/
.header-search {
    width: 180px;
    float: right;
}
@media (max-width: 1400px) {
    .header-search {
        width: 130px;
    }
}

/*Настройка аккаунта в верхнем меню*/
.header-account {
    float: right;
    padding-left: 40px;
    padding-right: 30px;
    position: relative;
}
.header-account__btn {
    position: relative;
    padding: 0;
    border: none;
    background: none;
}
.header-account__icon {
    font-size: 3em;
    color: white;
}
.header-account__indicate {
    color: white;
    background: #eee;
    position: absolute;
    right: -15px;
    bottom: -6px;
    border-radius: 100%;
    border: solid 1px #eee;
    margin: 0;
    padding: 0 3px;
    min-width: 17px;
    height: 17px;
    line-height: 16px;
    text-align: center;
    font-size: .8em;
    font-weight: 400;
}
.header-account__indicate_on {
    background: green;
    border: solid 1px white;
}
.header-account__dropdown-menu {
    left: -90px;
    top: 55px;
}

/*Настройки корзины в верхнем меню*/
.header-cart {
    float: right;
    padding-right: 30px;
}
.header-cart__btn {
    position: relative;
    padding: 0;
    border: none;
    background: none;
}
.header-cart__icon {
    font-size: 3em;
    color: white;
}
.header-cart__total-items {
    color: white;
    background: #0b91d2;
    position: absolute;
    right: -15px;
    bottom: -6px;
    border-radius: 100%;
    border: solid 1px rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0 3px;
    min-width: 17px;
    height: 17px;
    line-height: 16px;
    text-align: center;
    font-size: .8em;
    font-weight: 400;
}


/*              Настройка верхнего меню                */


.top-menu {
    background: #222;
    position: relative;
    margin-bottom: 0px;
}
.top-menu:after,
.submenu:after {
    content: "";
    display: table;
    clear: both;
}
.top-menu > li {
    display: inline-block;
    float: left;

}
.top-menu > li > a {
    display: block;
    padding: 18px 18px 30px 18px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    transition: .2s linear;
    position: relative;
    font-weight: bold;
}
/*
.top-menu > li > a:hover {color: #B03062;}

 */
/*
.dropdown:after {
    content: "\f107";
    font-family: FontAwesome;
    margin-left: 4px;
    vertical-align: top;
}
*/

.top-menu > li > a:before {
    content: "";
    width: 0;
    height: 4px;
    background: #1272af;
    position: absolute;
    bottom: 2px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
.top-menu > li > a:hover:before {
    opacity: 1;
    width: 100%;
}



.submenu,
.submenu-standart {
    border-top: 1px solid #1272af;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.07);
    background: rgba(18, 114, 175, 0.9);
    padding: 25px 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0,30px,0);
    transition: .5s ease-out;
    transform-origin: 0% 0%;
    list-style-type: none;
}
.submenu {
    position: fixed;
    top: 87px;
    left: 0;
    width: 100%;
    padding: 0 30% 0 10%;
    max-height: 90vh;
    overflow-y: auto;
}
.submenu-standart {
    min-width: 200px;
    padding: 10px 0;
}
.dropdown-standart {position: relative;}
.top-menu > li:hover .submenu,
.top-menu > li:hover .submenu-standart {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0,0,0);
}

.submenu-standart>li:hover ul {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0,0,0);

}


.submenu > li {
    float: left;
    width: calc(100% / 5);
    padding: 0 18px;
    /*border-right: 1px solid #e5e5e5;*/
}

.submenu > li > ul {
    list-style-type: none;
    padding: 0;
}


.submenu-standart li {
    padding: 0 18px;
}


.submenu > li:last-child {
    border-right: none;
}
.submenu img {
    display: block;
    width: 100%;
}
.submenu li a,
.submenu-standart li a {
    display: block;
    padding: 5px 0;
    color: #ffffff;
    font-size: 13px;
}
.submenu li .link-image {
    padding: 0;
}
.submenu li a:hover {
    opacity: 0.8;
}
.submenu h3>a {
    /*font-family: 'Playfair Display', serif;*/
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    text-transform: uppercase;
}

.spe-menu-block-txt {
    position: absolute;
    top: 20px;
    right: 10%;
    width: 20%;
}

/*
.container {
    max-width: 960px;
    margin: 0 auto;
}
.content {
    margin: 20px auto;
    padding: 0 20px;
}
*/
@media (max-width: 1400px) {
    .top-menu > li > a {
        font-size: 12px;
        letter-spacing: 1px;
    }

}


/*Настройка подблока главного меню*/
.header-sub-block {
    background: #1272af;
    padding: 6px 0;
    display: flex;
}
.header-sub-block__item {
    display: block;
    width: 50%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Настройки подвала*/

.spe-footer-bottom__right-block {
    float: right;
}
.spe-footer-bottom__left-block {
    float: left;
    padding: 10px 0;
}
.spe-footer-bottom__right-block_image {
    margin-right: 5px;
    border-radius: 4px;
}