.row_spe_top_menu {
    background-color: #222;
    color: white;
    padding: 10px 0px;
}

/*Настройка верхнего блока Header*/
.header-block {
    background: #222222;
    padding-top: 20px;
}

/*Настройка верхнего логотипа*/
.header-logo {
    margin: 0px;
}

/*Настройка блока поиска*/
.header-search {
    width: 180px;
    float: right;
}
@media (max-width: 1400px) {
    .header-search {
        width: 130px;
    }
}

/*Настройка аккаунта в верхнем меню*/
.header-account {
    float: right;
    padding-left: 40px;
    padding-right: 30px;
    position: relative;
}
.header-account__btn {
    position: relative;
    padding: 0;
    border: none;
    background: none;
}
.header-account__icon {
    font-size: 3em;
    color: white;
}
.header-account__indicate {
    color: white;
    background: #eee;
    position: absolute;
    right: -15px;
    bottom: -6px;
    border-radius: 100%;
    border: solid 1px #eee;
    margin: 0;
    padding: 0 3px;
    min-width: 17px;
    height: 17px;
    line-height: 16px;
    text-align: center;
    font-size: .8em;
    font-weight: 400;
}
.header-account__indicate_on {
    background: green;
    border: solid 1px white;
}
.header-account__dropdown-menu {
    left: -90px;
    top: 55px;
}

/*Настройки корзины в верхнем меню*/
.header-cart {
    float: right;
    padding-right: 30px;
}
.header-cart__btn {
    position: relative;
    padding: 0;
    border: none;
    background: none;
}
.header-cart__icon {
    font-size: 3em;
    color: white;
}
.header-cart__total-items {
    color: white;
    background: #0b91d2;
    position: absolute;
    right: -15px;
    bottom: -6px;
    border-radius: 100%;
    border: solid 1px rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0 3px;
    min-width: 17px;
    height: 17px;
    line-height: 16px;
    text-align: center;
    font-size: .8em;
    font-weight: 400;
}

/*Настройка верхнего меню*/
.top-menu {
    background: #222;
    position: relative;
    margin-bottom: 0px;
}
.top-menu:after,
.submenu:after {
    content: "";
    display: table;
    clear: both;
}
.top-menu > li {
    display: inline-block;
    float: left;

}
.top-menu > li > a {
    display: block;
    padding: 18px 18px 30px 18px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    transition: .2s linear;
    position: relative;
}
/*
.top-menu > li > a:hover {color: #B03062;}

 */
.dropdown:after {
    content: "\f107";
    font-family: FontAwesome;
    margin-left: 4px;
    vertical-align: top;
}

.top-menu > li > a:before {
    content: "";
    width: 0;
    height: 4px;
    background: #1272af;
    position: absolute;
    bottom: 2px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
.top-menu > li > a:hover:before {
    opacity: 1;
    width: 100%;
}



.submenu,
.submenu-standart {
    border-top: 1px solid #1272af;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.07);
    background: rgba(18, 114, 175, 0.9);
    padding: 25px 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0,30px,0);
    transition: .5s ease-out;
    transform-origin: 0% 0%;
    list-style-type: none;
}
.submenu {
    position: fixed;
    top: 87px;
    left: 0;
    width: 100%;
    padding: 0 10%;
}
.submenu-standart {
    min-width: 200px;
    padding: 10px 0;
}
.dropdown-standart {position: relative;}
.top-menu > li:hover .submenu,
.top-menu > li:hover .submenu-standart {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0,0,0);
}
.submenu > li {
    float: left;
    width: calc(100% / 5);
    padding: 0 18px;
    /*border-right: 1px solid #e5e5e5;*/
}

.submenu > li > ul {
    list-style-type: none;
    padding: 0;
}


.submenu-standart li {padding: 0 18px;}
.submenu > li:last-child {border-right: none;}
.submenu img {
    display: block;
    width: 100%;
}
.submenu li a,
.submenu-standart li a {
    display: block;
    padding: 5px 0;
    color: #ffffff;
    font-size: 13px;
}
.submenu li .link-image {padding: 0;}
.submenu li a:hover {color: #B03062;}
.submenu h3>a {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
    text-transform: uppercase;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.content {
    margin: 20px auto;
    padding: 0 20px;
}

/*Настройка подблока главного меню*/
.header-sub-block {
    background: #1272af;
    padding: 6px 0;
    display: flex;
}
.header-sub-block__item {
    display: block;
    width: 50%;
    text-align: center;
    color: #ffffff;
}